
/*Inizio common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    margin: 50px 0px;
    font-size: 3em;
}

.ex-number{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.ex-container{
    padding: 20px;
    width: 90%;
    margin: auto;
    background-color: rgb(245, 245, 245);
    margin-bottom: 50px;
}

.square{
    height: 150px;
    width: 150px;
}
/*Fine common*/

/*Inizio esercizio 1*/
#square-ex-1{
    border: solid red 1px;
    transition: all 2s;
}

#square-ex-1:hover{
    background-color: red;
}
/*Fine esercizio 1*/

/*Inizio esercizio 2*/
#square-ex-2{
    background-color: red;
    transition: all 3s;
}

#square-ex-2:active{
    width: 100%;
}
/*Fine esercizio 2*/

/*Inizio esercizio 3*/
#square-ex-3{
    background-color: red;
    transition: all 3s;
}

#square-ex-3:hover{
    border-radius: 50%;
}
/*Fine esercizio 3*/

/*Inizio esercizio 4*/
#square-ex-4{
    background-color: red;
    transition: all 3s;
}

#square-ex-4:hover{
    opacity: 0;
}
/*Fine esercizio 4*/

/*Inizio esercizio 5*/
#square-ex-5{
    height: 100px;
    width: 100px;
    background-color: red;
    transition: all 3s;
}

#square-ex-5:hover{
    height: 150px;
    width: 150px;
}

#square-ex-5:active{
    height: 50px;
    width: 50px;
}
/*Fine esercizio 5*/

/*Inizio esercizio 6*/
#img-ex-6{
    filter: grayscale(0);
}

#img-ex-6:hover{
    filter: grayscale(100);
}
/*Fine esercizio 6*/

/*Inizio esercizio 7*/
#img-ex-7{
    transition: all 3s;
}

#img-ex-7:hover{
    filter: sepia() brightness();
}
/*Fine esercizio 7*/

/*Inizio esercizio 8*/
#img-ex-8{
    transition: all 3s;
}

#img-ex-8:hover{
    filter:sepia() brightness();
    border-radius: 20px;
}
/*Fine esercizio 8*/